.therapist-list-container {
  display: flex;
  height: 100vh;
  
}

.sidebar {
  background-color: #2C3E50;
  padding: 20px;
  color: white;
  width: 250px;
}

.sidebar-logo img {
  width: 150px;
  margin-bottom: 20px;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li {
  margin-bottom: 20px;
}

.sidebar-nav ul li a {
  color: white;
  text-decoration: none;
}

.logout {
  color: white;
  text-decoration: none;
  margin-top: auto;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 228%;
  margin-top: 80px; /* Add margin-top to prevent overlap with header */
  background-color: #f5f5f5;
}

.header h2 {
  margin: 0;
  color: #000000;
}

.actions {
  display: flex;
  gap: 10px;
}

.btn-add, .btn-edit {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.btn-edit {
  background-color: red;
}

.therapist-table {
  justify-content: center;
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 228%; /* Ensure the dashboard takes full width */
  height: calc(20vh - 10px); /* Adjust height to fill the screen, leaving space for header */
  margin-top: 0px; /* Add margin-top to prevent overlap with header */
  margin-left: 20px;
}

.therapist-table th, .therapist-table td {
  padding: 10px;
  text-align: left;
  color: #000000;
}

.therapist-table th {
  background-color: #e8d9ec
}

.therapist-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.facility-info {
  display: flex;
  align-items: center;
  position: absolute; /* Position it relative to the parent container */
  top: 10px; /* Position from the top */
  right: 20px; /* Position from the right */
}

.facility-info span {
  color: #000000;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
