/* ChangePasswordPage.css */

.change-password-container {
    display: flex;
    height: 100vh;
    background-color: #cecdcd;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
}

.logo {
    height: 80px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #666;
}

.change-password-form {
    width: 100%;
    max-width: 300px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
}

.password-input {
    display: flex;
    align-items: center;
}

.toggle-password {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}

.submit-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.image-container {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
