body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.facility-message-page {
    display: flex;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
  }

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo-container img {
    width: 150px;
    margin-bottom: 20px;
}

.menu {
    flex-grow: 1;
}

.menu-item {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #34495E;
}

.logout a {
    color: #fff;
    text-decoration: none;
}
  h2{
    color: black;
  }
  .main-header {
    background-color: #f5a788ea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 1610px;
    margin-top: -5%;
    margin-left: -5%;
   
  }
  
  .search-container input {
    padding: 8px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  .message-list {
    margin-top: 0px;
    margin-left: -40px;
    margin-right: -830px;
    height: 835px;
    background-color: #ffbda2;
  }
  
  .message-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .message-item:last-child {
    border-bottom: none;
  }
  
  .message-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .message-item .message-info {
    flex-grow: 1;
  }
  
  .message-item .message-info h3 {
    font-size: 16px;
    margin: 0;
    color: black;
  }
  
  .message-item .message-info p {
    margin: 0;
    color: #020101;
  }


 
  